*{
    background-color: #c59700;
  }

.containerHome{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemonsBackground{
  height: 85%;
  
}
.pokemonsBackground img{
  height: 100%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
}
.buttonStart{
  height: 75px;
}
.buttonStart img{
  height: 100%;
}
.buttonStart:hover{
  transform: scale(1.05)
}